body {
  background-color: #c3829e;
  font-family: Arial;
}
svg {
      display: block;
      user-select: none;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
}

svg .hyogo:hover path.hyogo{
  opacity: 0.5;
}

svg .niigata:hover path.niigata{
  opacity: 0.5;
}

#chooseTheme table { 
  position: absolute;
  border: 2px solid black;

}

#navBar table{
  background-color: #fcd1d7;
  border: 2px solid black;
  width: 85%;
  margin: 10px auto;
  padding-left: 0px;
  margin-left: 0px;
}
#navBar { 
  margin: 10px auto;
  padding-top: 1%;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 4%;
}

#navBar a {
  text-decoration: none;
}

#logo {
  margin-left: 3%;
  float: left;
}

#body{
  float: clear;
  border: 2px solid black;
  width: 90%;
  margin-left: 4%;
  margin-right: 4%;
  overflow: auto;
  background-color: #ffe7de;
}

#prefBody, #animeList {
  clear: both;
  background-color: #fcd1d7;
  border: 2px solid black;
  margin-left: 4%;
  margin-right: 4%;
  width: 90%;
  overflow: hidden;

}

#wrapper {
  display:inline-block;
  width: 1000px;
  height: 100%;
  overflow:hidden;
}

#footer {
  text-align: center;
}

#map {
  width: 85%;
  margin: 10px auto;
  /*height: 80vh;*/
  height: 60%;
}

#form {
  text-align: center;

}

#description {

}

#details {
  position: absolute;
  border: 1px solid black;
}

#details p {
  padding-top: 0px;
  margin: 0;
  border: 1px solid black;
}

#leftSide {
  float:left;
  width:65%;
}

#rightSide {
  float:right;
  padding-right: 3%;
}

#travelSites {
  border: 2px solid black;
  margin: 1em;
}

#prefTable {
  margin-left: auto;
  margin-right: auto;
}

.caption {
  padding: 0px;
  margin:0 auto;
}

.pPad {
  padding-left: 1em;
  padding-right: 1em;
}

.iconic-imgs {
  padding-right: 3%;
}

.align-center {
  text-align: center;
}

.name {
  text-align: center;
}

.profile {
  margin: 0 auto;
  margin-top: 0.5em;
  border: 4px solid #fcd1d7;
  border-radius: 5px;
}

.blurb {
  margin-top: 0px;
  padding: 4%;
}


.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 4%;
  /*grid-template-rows: 10% 10%;*/
  grid-template-rows: auto auto;
  grid-row-gap: 4%;
}

.grid-profile {
  grid-template-columns: 90%;
  display: grid;
  background-color: #ffe7de;
}

.grid-profile img {
  margin-left: auto;
  margin-right: auto;
}

.grid-thumbs {
  display: flex;
  background-color: #ffe7de;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 14%;
  margin-left: 14%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
  top: 80px;
}

.body-text {
  font-size: 20px;
  line-height: 130%;
  font-family: Arial;
}

.previewCenter {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.previewBtn {
}

.default {
  background-color: #fcd1d7;
  color: #191919;
}

.white {
  background-color: #191919;
  color: #f2f2f2;
}
h4.white {
  color: #f2f2f2;
}

.black {
  background-color: #f2f2f2;
  color: #191919;
}
h4.black {
	color:#191919;
}
.feedback{
    font-size: 20px;
    line-height: 130%;
    font-family: Arial;
    text-align: center;
}
.feedback_head{
  text-align: center;
}
.feedback_table{
  margin:auto;
}
.feedback_items{
  padding:1%;
  margin:auto;
}
